@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Open+Sans&family=Roboto:wght@100&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslategray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 0.9em;
}

li a:hover {
  background-color: gray;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  color: whitesmoke;
}

.container {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#catFact-content {
  background-color: lightgray;
  color: #333;
  margin: 8px 80px;
  padding: 25px;
  border: 1px solid slategray;
  border-radius: 0.375em;
  font-size: 1.2em;
}

#catFact-button {
  align-items: center;
  appearance: none;
  background-color: lightgray;
  border: 2px solid whitesmoke;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#catFact-button:hover {
  border-color: lightslategray;
}

footer p {
  margin: 5px;
  padding: 2px;
  text-align: left;
  color: whitesmoke;
}
